doctype
html
  head
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  body
    header
      h1 
        a(href="/") Say Something Clever.
    .container
      .navbar
        block navigation
          nav
            ul
              a(href="/About")
                li About
              a(href="#")
                li Photos
              a(href="#")
                li Projects
              a(href="#")
                li Opinions
              a(href="#")
                li Work
      .main-content
        block content
    footer
      .iconbar
        block footer
          div(class="social")
            a(href="https://twitter.com/syzonin" target="_blank")
              i(class="fa fa-lg fa-twitter")
            a(href="https://instagram.com/syzonin/" target="_blank")
              i(class="fa fa-lg fa-instagram")
            a(href="https://www.linkedin.com/pub/si-zhan/37/a20/6a" target="_blank")
              i(class="fa fa-lg fa-linkedin")
            a(href="https://github.com/syzonin" target="_blank")
              i(class="fa fa-lg fa-github")
            a(href="https://medium.com/@syzonin" target="_blank" )
              i(class="fa fa-lg fa-medium")
            div Powered by node with Express and Jade
        
        
